/* CSS Styles for Sign-Up Form */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    width: auto;
    height: 70vh; /* <-- This is the new line */
}

.container {
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding to the container */
}

/* Add this CSS to your <style> block */
img {
     width: 100px;
     border-radius: 50px;
     padding: 10px;  
}

h1 {
    color: #333;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    max-height: none; /* <-- This is the new line */
    margin: 0 auto;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: #FF0000;
    font-size: 14px;
}

/* You can add more styles for specific elements as needed */
